
<!--modal-->
    <div class="modal fade" id="addIngredientModal" tabindex="-1" aria-labelledby="addIngredientModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addIngredientModalLabel">Добавьте ингредиент</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <form>
            <div class="modal-body">
                <select class="form-select w-50 form-control" aria-label="Ингредиент" style="" id="selectIngredient">
                  <option selected>-----------------</option>
<!--                  <option value="1">Яйцо</option>-->
<!--                  <option value="2">Мука</option>-->
<!--                  <option value="3">Сахар</option>-->
                </select>
                <input type="text" class="form-control" placeholder="количество" aria-label="количество" id="ingredientAmount">
                <select class="form-select form-control" aria-label="измерение" id="selectIngredientUnit">
<!--                  <option selected value="1">миллилитры</option>-->
<!--                  <option value="2">литры</option>-->
                </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary"  id="btnAdd">Добавить</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  <!--end modal-->