{% extends 'base.html' %}

{% block title %}Все ингредиенты{% endblock %}
{% block body %}
<div class="modal fade" tabindex="-1" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">Удаление</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5 class="modal-question">Вы действительно хотите удалить ингредиент?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btnDelete" data-bs-pk="">Да</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>
<script>
   var deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', function(event){
        var button = event.relatedTarget;
        // var ingredientPk = button.getAttribute("data-bs-pk");
        var deleteButton = deleteModal.querySelector("#btnDelete");
        deleteButton.setAttribute("data-bs-pk", button.getAttribute("data-bs-pk"));
        var ingredientName = button.getAttribute("data-bs-name");
        var modalQuestion = deleteModal.querySelector(".modal-question");
        modalQuestion.textContent = "Вы действительно хотите удалить ингредиент '" + ingredientName +"'?";
    });

var deleteButton = document.getElementById('btnDelete');
deleteButton.addEventListener('click', function(event){
    var ingredientPk = deleteButton.getAttribute("data-bs-pk");
    const requestURL = "/ingredient/" + ingredientPk + "/delete_json";
    alert(requestURL);
   const xhr = new XMLHttpRequest();
      xhr.responseType = 'json';
      xhr.open('GET', requestURL);
      xhr.onload = () => {
          if (xhr.status !== 200) {
            return;
          }
        
      }
      xhr.send();
});

</script>
{% endblock %}
{% block content %}
<h1>
    Все ингредиенты
    <a href="{% url 'ingredient_create' %}" type="button" class="btn btn-outline-secondary" >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
          </svg>
      </a>
</h1>
<hr class="mt-0 mb-4">
{% for ingredient in ingredients %}
<div id="ingredientItem-{{ ingredient.pk }}">
    <h4>
        <a href="{% url 'ingredient_detail' pk=ingredient.pk %}">{{ ingredient.name }}</a>
        <a href="{% url 'ingredient_edit' pk=ingredient.pk %}" type="button" class="btn" >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
        </svg>
        </a>
        <button type="button" class="btn delete" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-pk="{{ ingredient.pk }}" data-bs-name="{{ ingredient.name }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
          </svg>
        </button>

    </h4>
    <i>{{ ingredient.price }} рубля за {{ ingredient.unit.full_name}}</i>
    <p>{{ ingredient.description }}</p>

</div>
{% endfor %}
{% endblock %}