<div class="modal fade" tabindex="-1" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">Удаление</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5 class="modal-question">Вы действительно хотите удалить блюдо?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btnDelete" data-bs-pk="">Да</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>

<script>
   var deleteModal = document.getElementById('deleteModal');
   const modal = new bootstrap.Modal(deleteModal);
    deleteModal.addEventListener('show.bs.modal', function(event){
        var button = event.relatedTarget;
        var deleteButton = deleteModal.querySelector("#btnDelete");
        deleteButton.setAttribute("data-bs-pk", button.dataset.bsPk);
        var dishName = button.dataset.bsName;
        deleteButton.setAttribute("data-bs-name", dishName);
        deleteButton.setAttribute("data-bs-func", button.dataset.bsFunc);
        var modalQuestion = deleteModal.querySelector(".modal-question");
        modalQuestion.textContent = "Вы действительно хотите удалить блюдо '" + dishName +"'?";
    });

var deleteButton = document.getElementById('btnDelete');
deleteButton.addEventListener('click', function(event){
    var dishPk = deleteButton.dataset.bsPk;
    var dishName = deleteButton.dataset.bsName;
    var funcStr = deleteButton.dataset.bsFunc;
    const requestURL = "/dish/" + dishPk + "/delete_json";
    modal.hide();
   const xhr = new XMLHttpRequest();
      xhr.responseType = 'json';
      xhr.open('GET', requestURL);
      xhr.onload = () => {
          if (xhr.status !== 200) {
            return;
          }
        dishJSON = xhr.response;
        if (dishJSON['status'] == 'ok') {
            alert("Блюдо " + dishName + " удалено.");
            var f = Function(funcStr);
            f();
            return;
        } else {
            alert(dishJSON['message']);
            return;
        }
      }
      xhr.send();
});

</script>